:root {
	font-size: 14px;
	font-family: 'Segoe UI';
	--background: #fafafa;
	--red: rgb(185, 31, 31);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--background);
}

.hidden {
	height: 0;
}